.header {
  height: 100px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  //margin-bottom: -10px;
  //margin-top: -10px;

  
  .logo {
    height: 100%;
    width: 70px;
    margin-left: 70%;
    
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 10px 15px;
      font-weight: 500;
      cursor: pointer;
      //color: red;
      background-image: linear-gradient(to right,
          #f5c13e,
          #eec11e 50%,
          #000 50%);
      background-size: 200% 100%;
      background-position: -100%;
      display: inline-block;
      //padding: 5px 0;
      position: relative;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: all 0.3s ease-in-out;
    }

    .option::before {
      content: '';
      background: #f5c13e;
      display: block;
      position: absolute;
      bottom: -3px;
      left: 0;
      width: 0;
      height: 3px;
      transition: all 0.3s ease-in-out;
    }

    .option:hover {
      background-position: 0;
    }

    .option:hover::before {
      width: 100%;
    }
  }
}